# 忽略node_modules目录
node_modules/

# 忽略日志文件
*.log

# 忽略临时文件
*.tmp
*.temp

# 忽略操作系统生成的文件
.DS_Store
Thumbs.db

# 忽略编译输出目录（例如dist或build）
dist/
build/

# 忽略环境变量配置文件
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 忽略IDE和编辑器的配置文件
.idea/
.vscode/

# 忽略npm调试日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 忽略TypeScript的类型定义缓存
*.tsbuildinfo

# 忽略eslint缓存
.eslintcache

# 忽略公共配置文件
config/

# Ignore all files in the prisma directory
prisma/*

# But keep the schema.prisma file
!prisma/schema.prisma

# Ignore the .env file in the prisma directory
prisma/.env

.git
.next